div(class="addr-validate")
  h2(class="title") Premise Address
  div(class="addr-form-wrap")
    div(class="addr-form")
      ul(class="edit-form")
        li
          span(class="label") Premise Phone
          input(type="text", placeholder="(123) 123-1234",
            data-bind="hasfocus:focus,ukov:data.PhoneNumber,value:data.PhoneNumber,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Zip code
          input(type="text", placeholder="12345",
            data-bind="ukov:data.PostalCode,value:data.PostalCode,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Street Address
          input(type="text", placeholder="55 W Main St",
            data-bind="ukov:data.StreetAddress,value:data.StreetAddress,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Street Address 2
          input(type="text", placeholder="#14",
            data-bind="ukov:data.StreetAddress2,value:data.StreetAddress2,valueUpdate:'keyup',enter:cmdValidate")
        <!-- ko if:override -->
        li
          span(class="label") City
          input(type="text", placeholder="Springfield",
            data-bind="ukov:data.City,value:data.City,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") State
          div(data-bind="template:{name:data.StateCvm.viewTmpl,data:data.StateCvm}")
        li
          span(class="label") County
          input(type="text", placeholder="Grand",
            data-bind="ukov:data.County,value:data.County,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Time Zone
          div(data-bind="template:{name:data.TimeZoneCvm.viewTmpl,data:data.TimeZoneCvm}")
        li
        <!-- /ko -->
      ul(class="edit-form right-side",data-bind="visible:override")
        li
          span(class="label") House #
          input(type="text", placeholder="14",
            data-bind="ukov:data.StreetNumber,value:data.StreetNumber,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Street Name
          input(type="text", placeholder="Main",
            data-bind="ukov:data.StreetName,value:data.StreetName,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Pre Directional
          div(data-bind="template:{name:data.PreDirectionalCvm.viewTmpl,data:data.PreDirectionalCvm}")
        li
          span(class="label") Post Directional
          div(data-bind="template:{name:data.PostDirectionalCvm.viewTmpl,data:data.PostDirectionalCvm}")
        li
          span(class="label") Street Type
          div(data-bind="template:{name:data.StreetTypeCvm.viewTmpl,data:data.StreetTypeCvm}")
        li
          span(class="label") Extension
          input(type="text", placeholder="",
            data-bind="ukov:data.Extension,value:data.Extension,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Extension #
          input(type="text", placeholder="",
            data-bind="ukov:data.ExtensionNumber,value:data.ExtensionNumber,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") Carrier #
          input(type="text", placeholder="",
            data-bind="ukov:data.CarrierRoute,value:data.CarrierRoute,valueUpdate:'keyup',enter:cmdValidate")
        li
          span(class="label") DPV Response
          input(type="text", placeholder="",
            data-bind="ukov:data.DPVResponse,value:data.DPVResponse,valueUpdate:'keyup',enter:cmdValidate")

  div
    span(class="btn-bg", tabindex="0", data-bind="cmd:cmdValidate") Validate Address
    span(class="btn-bg", tabindex="0", data-bind="cmd:cmdManual") Manual

  div(class="result",data-bind="if:result")
    div(data-bind="template:{name:'tmpl-acct-default-address',data:result}")
    div(class="actions")
      span(class="btn-bg", tabindex="0", data-bind="cmd:clickClose") Ok
