//- h2(class="title") Run Credit
div(class="runcredit-form", data-bind="toggle:{'override':override}")
  ul(class="edit-form limit-width")
    li
      span(class="label") Prefix
      input(type="text", placeholder="Mr.",
        data-bind="ukov:data.Salutation,value:data.Salutation,valueUpdate:'keyup',select:focusFirst")
    li
      span(class="label") First Name
      input(type="text", placeholder="",
        data-bind="ukov:data.FirstName,value:data.FirstName,valueUpdate:'keyup'")
    li
      span(class="label") Middle Name
      input(type="text", placeholder="",
        data-bind="ukov:data.MiddleName,value:data.MiddleName,valueUpdate:'keyup'")
    li
      span(class="label") Last Name
      input(type="text", placeholder="",
        data-bind="ukov:data.LastName,value:data.LastName,valueUpdate:'keyup'")
    li
      span(class="label") Suffix
      input(type="text", placeholder="Jr.",
        data-bind="ukov:data.Suffix,value:data.Suffix,valueUpdate:'keyup'")
  ul(class="edit-form limit-width right-side")
    li
      span(class="label") Email
      input(type="text", placeholder="",
        data-bind="ukov:data.Email,value:data.Email,valueUpdate:'keyup'")
    li
      span(class="label") Social Security #
      input(type="text", placeholder="123-12-1234",
        data-bind="ukov:data.SSN,ssnvalue:data.SSN,valueUpdate:'keyup'")
    li
      span(class="label") Date of Birth
      input(type="text", placeholder="mm/dd/yyyy",
        data-bind="ukov:data.DOB,datevalue:data.DOB,valueUpdate:'keyup'")
    li
      span(class="label") Language
      div(data-bind="cvm:localizationCvm")

div(style="margin-bottom:20px;")
  ul
    li
      span(class="btn-bg", tabindex="0", data-bind="cmd:cmdRun") Run Credit
    li
      span(class="btn-bg", tabindex="0", data-bind="cmd:cmdBypass") Bypass Credit

div(data-bind="if:loaded&&creditResult")
  div(data-bind="template:{name:'tmpl-acct-default-credit',data:creditResult}")
  div(class="actions")
    span(class="btn-bg", tabindex="0", data-bind="cmd:cmdAccept") Ok

div(data-bind="spinner:busy,spinner-rgb:'black'")
