div(class="acct-search")
  table(class="fh-wrap")
    tr
      td(class="fh-header relative")
        div(class="search-form")
          ul(class="edit-form cf")
            li
              span(class="label") Customer Number
              input(type="text", placeholder="",
                data-bind="ukov:data.CMFID,value:data.CMFID,valueUpdate:'keyup',enter:cmdSearch,select:focusFirst")
            li
              span(class="label") First Name
              input(type="text", placeholder="",
                data-bind="ukov:data.FirstName,value:data.FirstName,valueUpdate:'keyup',enter:cmdSearch")
            li
              span(class="label") Last Name
              input(type="text", placeholder="",
                data-bind="ukov:data.LastName,value:data.LastName,valueUpdate:'keyup',enter:cmdSearch")
            li
              span(class="label") Phone
              input(type="text", placeholder="",
                data-bind="ukov:data.PhoneNumber,value:data.PhoneNumber,valueUpdate:'keyup',enter:cmdSearch")
            li
              span(class="label") City
              input(type="text", placeholder="",
                data-bind="ukov:data.City,value:data.City,valueUpdate:'keyup',enter:cmdSearch")
            li
              span(class="label") State
              div(data-bind="cvm:data.StateCvm")
            li
              span(class="label") Postal Code
              input(type="text", placeholder="",
                data-bind="ukov:data.PostalCode,value:data.PostalCode,valueUpdate:'keyup',enter:cmdSearch")
            li
              span(class="label") Results per Page
              div(data-bind="cvm:data.PageSizeCvm")
        div(class="actions")
          a(class="btn",tabindex="0",data-bind="cmd:cmdSearch") Search
          a(class="btn",tabindex="0",data-bind="cmd:clickClear") Clear

        div(class="grid-pager",data-bind="visible:data.isClean")
          ul(data-bind="foreach:gvmPages")
            li
              //- cmd modifies the `disabled` class so `notEnabled` is added  to permanently disable negative pages
              span(class="label",data-bind="cmd:$parent.cmdSearch,html:text,active:active,toggle:{notEnabled:disabled}")
    tr
      td(class="fh-body")
        div(class="fh-contents")
          div(class="grid-wrap")
            div(class="slickgrid",style="background:white;margin:10px;color:black",
              data-bind="slickgrid:gvm")

          div(data-bind="if:cmdSearch.busy")
            div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")
