div(class="acct-emcontacteditor")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        div
          ul(class="edit-form limit-width")
            li
              span(class="label") Prefix
              input(type="text", placeholder="",
                data-bind="ukov:data.Prefix,value:data.Prefix,valueUpdate:'keyup'")
            li
              span(class="label") First Name
              input(type="text", placeholder="",
                data-bind="ukov:data.FirstName,value:data.FirstName,valueUpdate:'keyup'")
            li
              span(class="label") Middle Initial
              input(type="text", placeholder="",
                data-bind="ukov:data.MiddleInitial,value:data.MiddleInitial,valueUpdate:'keyup'")
            li
              span(class="label") Last Name
              input(type="text", placeholder="",
                data-bind="ukov:data.LastName,value:data.LastName,valueUpdate:'keyup'")
            li
              span(class="label") Suffix
              input(type="text", placeholder="",
                data-bind="ukov:data.Suffix,value:data.Suffix,valueUpdate:'keyup'")
          ul(class="edit-form limit-width right-side")
            li
              span(class="label") Relastionship
              div(data-bind="template:{name:data.RelastionshipCvm.viewTmpl,data:data.RelastionshipCvm}")
            li
              span(class="label") Email
              input(type="text", placeholder="",
                data-bind="ukov:data.Email,value:data.Email,valueUpdate:'keyup'")
            li
              span(class="label") House Keys
              div(data-bind="template:{name:data.HouseKeysCvm.viewTmpl,data:data.HouseKeysCvm}")

        div
          ul(class="edit-form")
            li
              span(class="label") Primary Phone
              input(type="text", placeholder="(123) 123-1234",class="limit-width",
                data-bind="ukov:data.PrimaryPhone,value:data.PrimaryPhone,valueUpdate:'keyup'")
              div(class="limit-width right-side",
                data-bind="template:{name:data.PrimaryPhoneTypeCvm.viewTmpl,data:data.PrimaryPhoneTypeCvm}")
            li
              span(class="label") Secondary Phone
              input(type="text", placeholder="(123) 123-1234",class="limit-width",
                data-bind="ukov:data.SecondaryPhone,value:data.SecondaryPhone,valueUpdate:'keyup'")
              div(class="limit-width right-side",
                data-bind="template:{name:data.SecondaryPhoneTypeCvm.viewTmpl,data:data.SecondaryPhoneTypeCvm}")
            li
              span(class="label") Alternate Phone
              input(type="text", placeholder="(123) 123-1234",class="limit-width",
                data-bind="ukov:data.AlternatePhone,value:data.AlternatePhone,valueUpdate:'keyup'")
              div(class="limit-width right-side",
                data-bind="template:{name:data.AlternatePhoneTypeCvm.viewTmpl,data:data.AlternatePhoneTypeCvm}")
    tr
      td(class="fh-body")
        div(class="fh-contents")
          ul(class="actions")
            li
              a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
            li
              a(class="btn",tabindex="0",data-bind="cmd:clickSave") Save
